<div id="fond">
    <h1>List Component || page /list</h1>
    <!--routes-->
    <h1>Exemple utilisation de route</h1>
    <button routerLink="/home">Aller à Home</button>
    <!--ngFor-->
    <h1>Exemple utilisation de ngFor</h1>
    <ul>
      <li *ngFor="let book of books">{{book}}</li>
    </ul>
    <!--ngIf-->
    <h1>Exemple utilisation de ngIf</h1>
    <div *ngIf="tata; else tata">toto</div>
    <ng-template #tata>tata</ng-template>

    <div *ngIf="afficherMessage; else messageElse">
      <p>Ceci est le message SI afficherMessage est vrai.</p>
    </div>
    
    <ng-template #messageElse>
      <p>Ceci est le message SINON afficherMessage est vrai.</p>
    </ng-template>
    
    <button (click)="afficherMessage = !afficherMessage">
      Cliquez pour basculer le message
    </button>
    <!--pipe-->
    <div>
      <h1>Exemple de Pipes</h1>
      <p>Outil de transformation de données dans les modèles (templates) HTML || utilisés pour formater, filtrer et présenter les données</p>
      <p>Date actuelle : {{dateActuelle | date:'fullDate'}}</p>
      <p>Texte en majuscules : {{texte | uppercase}}</p>
      <p>Texte en minuscules : {{texte | lowercase}}</p>
      <p>Texte tronqué : {{texteLong| slice:10:30}}...</p><!-- slice:nbdebut;nbfin-->
      <p>Liste de nombres join: {{ nombresJoines }}</p>
      <p>Liste de nombres triés : {{ nombresTries.join(', ') }}</p>
      <p>Montant : {{ montant | currency:'EUR':'symbol':'1.2-2' }}</p>
  </div>

  <!--Template driven From-->
  <h1>Exemple de Template driven From cours</h1>
  <p>Permet de créer des formulaires de complecité faible</p>
  <form>
    <input type="text" [(ngModel)]="favoriteColor" name="favoriteColor">
    <button type="button" (click)="setValue()">setValue</button>
    <p>{{ favoriteColor }}</p>
  </form>

  <h1>Formulaire Piloté par Modèle (Template-Driven Form)</h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="formData.email" required email>
      </div>
      <button type="submit">Soumettre</button>
    </form>
    <p *ngIf="submitted">Formulaire soumis avec succès!</p>
    <p *ngIf="submitted">{{formData.name}}</p>

    <!--Réactive formulaire-->
    <h1>Exemple de réactive formulaire</h1>
    <form [formGroup]='profilForm'>
      <input type="text" formControlName="firstname">
      <button type="submit" [disabled]="profilForm.invalid">Sumbit</button>
    </form>

    <!-- <h1>Exemple 2 de reactif formulaire</h1>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit2()">
      <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" formControlName="nom">
      </div>
    
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email">
      </div>
    
      <div>
        <label for="message">Message :</label>
        <textarea id="message" formControlName="message"></textarea>
      </div>
    
      <div>
        <button type="submit" [disabled]="!formulaire.valid">Soumettre</button>
      </div>
    </form> -->
    


  
  

</div>
  